body{
    font-family: 'IM Fell Great Primer SC', serif;
    background-color: crimson;   
    color: white;
}
#VS{
    width:  500px;
    height: 200px;
}
.case{
    background-color: crimson;
}
#toy{
    width: 250px;
    height: 250px;
}
#bottle{
    width: 300;
    height: 300;
}